PokemonApi/.vs/PokemonWebApi/DesignTimeBuild/.dtbcache.v2
PokemonApi/.vs/PokemonWebApi/v17/.futdcache.v2
PokemonApi/.vs/PokemonWebApi/v17/.suo
PokemonApi/.vs/PokemonWebApi/v17/DocumentLayout.json
PokemonApi/.vs/ProjectEvaluation/pokemonwebapi.metadata.v9.bin
PokemonApi/.vs/ProjectEvaluation/pokemonwebapi.projects.v9.bin
PokemonApi/.vs/ProjectEvaluation/pokemonwebapi.strings.v9.bin
